*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.5;
}
header #nav nav{
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
  padding: 0 8%;
  font-size: 13px;
  color: #000;
  margin-bottom: 2px;
  position: relative;
  
}
#nav #burger-menu{
  position: absolute;
  z-index: -1;
  opacity: 0;
}
#nav .logo-nav{
  display: flex;
  align-items: center;
  margin-right: auto;
}
#nav .logo-nav .logo{
  display: inline-block;
  width: 137px;
  margin-top: 5px;
  padding: 10px 6px 19px 10px;
}
#nav .logo-nav .logo img{
  width: 108px;
  vertical-align: middle;
}
#nav .logo-nav .list{
  display: flex;
}
#nav .logo-nav .list .more{
  display: none;
}
#nav .logo-nav .list li a{
  display: inline-block;
  margin-top: 1px;
  padding: 16px 5px 15px 14.5px;
  text-decoration: none;
  color: #262626;
  font-size: 13px;
}
#nav .logo-nav .list li + li{
  margin-left: 10px;
}
/* #nav .logo-nav .list li:nth-child(6) a{
  padding: 16px 5px 15px 11px;
} */
#nav .microsoft-search .all .all-btn label span{
  border-bottom: 2px solid transparent;
}
#nav .logo-nav .list li a:hover span,
#nav .microsoft-search .all .all-btn label:hover span,
#nav .microsoft-search .search:hover span,
#nav .user-info .shop:hover span,
#nav .logo-nav .list li a:focus span,
#nav .microsoft-search .all .all-btn label:focus span,
#nav .microsoft-search .search:focus span,
#nav .user-info .shop:focus span{
  border-bottom: 2px solid #000;
}
#nav .microsoft-search .drop-down-menu li a:hover span,
#nav .logo-nav .list .more .more-list li a:hover span{
  border-bottom: 1px solid #000;
}
#nav .logo-nav .logo,
#nav .logo-nav .list li a,
#nav .microsoft-search .all .all-btn label,
#nav .microsoft-search .search,
#nav .user-info .shop,
#nav .personal,
#nav .microsoft-search .drop-down-menu li a{
  position: relative;
}
#nav .logo-nav .logo:focus:after,
#nav .logo-nav .list li a:focus::after,
#nav .microsoft-search .drop-down-menu li a:focus::after,
#nav .microsoft-search .all .all-btn label:focus::after,
#nav .microsoft-search .search:focus::after,
#nav .user-info .shop:focus::after,
#nav .personal:focus::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px dashed #000;
}

#nav .microsoft-search{
  display: flex;
  margin-right: 31px;
}
#nav .microsoft-search .all .all-btn label{
  display: inline-block;
  padding: 18px 15.5px 14px 14px;
  cursor: pointer;
  display: flex;
}
#nav .microsoft-search .all .all-btn label .fa-chevron-down{
  align-self: end;
  font-size: 14px;
  padding-left: 1.5px;
}
#nav .microsoft-search .all .all-btn label .fa-bars,
#nav .microsoft-search .all .all-btn label .fa-xmark{
  display: none;
}
#nav #burger-menu:checked ~ .microsoft-search .drop-down-menu{
  display: flex;
}
#nav #burger-menu:checked ~ .microsoft-search .all-btn label{
  background-color: #f2f2f2;
}
#nav #burger-menu:checked ~ .microsoft-search .all-btn label span{
  border-bottom: none;
  border-bottom: 2px solid transparent;
}
#nav .microsoft-search .all i{
  font-size: 12px;
}

#nav .microsoft-search .drop-down-menu{
  position: absolute;
  width: 1228px;
  top: 52px;
  left: 50%;
  transform: translateX(-41.95%);
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  padding-top: 1px;
  background-color: #f2f2f2;
  display: none;
  border: 1px solid rgb(223, 221, 221);
}
#nav .microsoft-search .drop-down-menu > li{
  padding-bottom: 10px;
}
#nav .microsoft-search .drop-down-menu .mobile-menu{
  display: none;
}
#nav .microsoft-search .drop-down-menu > li a{
  width: 195px;
  padding: 12px 0 12px 24px;
}
@media (max-width: 1778px){
  #nav .logo-nav .list li a{
    padding: 16px 5px 15px 14.5px;
  }
  #nav .logo-nav .list li + li{
    margin-left: 0;
  }
}
@media (max-width: 1450px){
  #nav .microsoft-search .drop-down-menu{
    transform: translateX(-50%);
  }
}
@media (max-width: 1399px){
  #nav .microsoft-search .drop-down-menu{
    width: 1213px;
    transform: translateX(-50%);
  }
}
@media (max-width: 1229px){
  #nav .microsoft-search .drop-down-menu{
    width: 1025px;
  }
}
@media (max-width: 1024px){
  #nav .microsoft-search .drop-down-menu{
    width: 820px;
  }
}
#nav .microsoft-search .drop-down-menu > li h4{
  padding: 18px 0 18px 24px;
}
#nav .microsoft-search .drop-down-menu > li ul li a{
  display: inline-block;
  padding: 12px 0 12px 24px;
  color: #262626;
  text-decoration: none;
}
#nav .microsoft-search .drop-down-menu > li:last-child{
  width: 100%;
  text-align: center;
  background-color: #e6e6e6;
  border-bottom: 2px solid #000;
  padding: 3px 0 0;
}
#nav .microsoft-search .drop-down-menu > li:last-child a{
  display: inline-block;
  padding: 8px 2px 8px 22px;
  text-decoration: none;
  color: #262626;
}
#nav .microsoft-search .drop-down-menu > li:last-child a i{
  margin-left: 3px;
}
#nav .microsoft-search .drop-down-menu > li h4 i{
  display: none;
}
#nav .microsoft-search .search{
  padding: 17px 10px 16px 5px;
}
#nav .microsoft-search .search i{
  font-size: 15px;
  margin-left: 5.5px;
}
#nav .microsoft-search .search,
#nav .user-info .shop,
#nav .user-info .personal{
  cursor: pointer;
}
#nav .user-info{
  display: flex;
}
#nav .user-info .shop{
  padding: 14px 8px 16px 7px;
}
#nav .user-info .shop i{
  font-size: 14px;
  margin-left: 2px;
}
#nav .user-info .personal{
  display: flex;
}
#nav .user-info .personal .login{
  padding: 15px 12.5px 16px 8.5px;
}
#nav .user-info .personal .user{
  margin-right: 7px;
  padding: 9px 0px 0px;
  width: 32px;
}
#nav .user-info .personal .user img{
  width: 100%;
}
#nav .microsoft-search .drop-down-menu #software,
#nav .microsoft-search .drop-down-menu #computer,
#nav .microsoft-search .drop-down-menu #entertainment,
#nav .microsoft-search .drop-down-menu #business,
#nav .microsoft-search .drop-down-menu #develop,
#nav .microsoft-search .drop-down-menu #other{
  position: absolute;
  opacity: 0;
}
@media (max-width: 1800px){
  header #nav nav{
    padding: 0 5%;
  }
}
@media (max-width: 1399px){
  #nav .microsoft-search .search span,
  #nav .user-info .shop span,
  #nav .user-info .personal .login{
    display: none;
  }
  #nav .microsoft-search .all .all-btn label{
    margin-right: 10px;
  }
  #nav .microsoft-search{
    margin-right: 0;
  }
  #nav .user-info .personal .user{
    margin: 0 8px;
  }
}
@media (max-width: 1083px){
  header #nav nav{
    padding: 0 2.25%;
  }
  #nav .logo-nav .logo{
    margin: 5px 0px 0;
    padding: 10px 6px 19px 10px;
  }
  #nav .logo-nav .list{
    margin-left: 1px;
  }
  #nav .logo-nav .list li a{
    padding: 16px 11.6px 15px 10px;
  }
  #nav .microsoft-search .all .all-btn label{
    padding: 18px 9px 15px 15px;
  }
  #nav .microsoft-search .drop-down-menu > li a{
    width: 200px;
  }
  #nav .microsoft-search .search{
    padding: 17px 9px 15px 9px;
  }
  #nav .microsoft-search .search i{
    margin-left: 0px;
  }
  #nav .user-info .shop{
    padding: 14px 9px 16px 13px;
  }
  #nav .user-info .shop i{
    margin-left: 0px;
  }
  #nav .user-info .personal .user{
    padding: 9px 0px 0px;
  }
}
@media (max-width: 900px){
  #nav .logo-nav .list .more-hide{
    display: none;
  }
  #nav .logo-nav .list .more{
    display: block;
    position: relative;
  }
  #nav .logo-nav .list .more label span{
    border-bottom: 2px solid transparent;
  }
  #nav .logo-nav .list .more label:hover span{
    border-bottom: 2px solid #000;
  }
  #nav .logo-nav .list .more #more-menu{
    position: absolute;
    z-index: -2;
    opacity: 0;
  }
  #nav .logo-nav .list .more label{
    display: inline-block;
    padding: 16px 8px 15px 11px;
    margin-top: 1px;
    cursor: pointer;
    position: relative;
    display: flex;
  }
  #nav .logo-nav .list .more label .fa-chevron-down{
    align-self: end;
    font-size: 14px;
    padding-left: 1.5px;
  }
  #nav .logo-nav .list .more label:focus:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px dashed #000;
  } 
  #nav .logo-nav .list .more .more-list{
    position: absolute;
    width: 168px;
    top: 52px;
    left: 0;
    background-color: #f2f2f2;
    display: none;
    border-bottom: 2px solid #000;
    z-index: 2  ;
  }
  #nav .logo-nav .list .more #more-menu:checked ~ .more-list{
    display: block;
  }
  #nav .logo-nav .list .more #more-menu:checked + label{
    background-color: #f2f2f2;
  }
  #nav .logo-nav .list .more #more-menu:checked + label:hover span{
    border-bottom: 2px solid transparent;
  }
  #nav .logo-nav .list .more .more-list li a{
    display: inline-block;
    padding: 18px 118px 18px 24px;
  }
  #nav .logo-nav .list .more .more-list li a:hover{
    background-color: #e6e6e6;
  }
}
@media (max-width: 859px){
  header #nav nav{
    padding: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #e6e6e6;
  }
  #nav .logo-nav .logo{
    padding: 12px 14px 12px 13px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  #nav .logo-nav .list,
  #nav .logo-nav .list .more{
    display: none;
  }
  #nav .microsoft-search{
    width: 100%;
    margin-right: auto;
  }
  #nav .microsoft-search .all .all-btn label{
    padding: 9px 13px 10px 15px;
    width: 48px;
    margin-right: 0;
  }
  #nav .microsoft-search .all .all-btn label .fa-bars{
    display: inline-block;
    margin-top: 5px;
    font-size: 23px;
  }
  #nav .microsoft-search .all .all-btn label .all-microsoft,
  #nav .microsoft-search .all .all-btn label i{
    display: none;
  }
  #nav #burger-menu:checked ~ .microsoft-search .all-btn label{
    background-color: transparent;
    border: 0;
  }
  #nav #burger-menu:checked ~ .microsoft-search .all-btn label .fa-bars{
    display: none;
  }
  #nav #burger-menu:checked ~ .microsoft-search .all .all-btn label .fa-xmark{
    display: block;
    margin-top: 5px;
    font-size: 23px;
  }
  #nav .microsoft-search .drop-down-menu > li{
    padding-bottom: 0;
  }
  #nav .microsoft-search .drop-down-menu li a,
  #nav .microsoft-search .drop-down-menu li a span{
    border-bottom: 0;
  }
  #nav .microsoft-search .drop-down-menu{
    width: 100%;
    top: 54px;
    left: 0;
    transform: translateY(0px);
    flex-direction: column;
    border: none;
  }
  #nav .microsoft-search .drop-down-menu > li{
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
  }
  #nav .microsoft-search .drop-down-menu .mobile-menu{
    display: block;

  }
  #nav .microsoft-search .drop-down-menu .mobile-menu a{
    display: block;
    padding: 15px 21px 14px 16px;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    width: 100%;
    margin: 1px 0;
  }
  #nav .microsoft-search .drop-down-menu > li h4{
    font-size: 15px;
    font-weight: normal;
    padding: 15px 21px 14px 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1px 0;
  }
  #nav .microsoft-search .drop-down-menu > li h4 i{
    display: block;
    align-self: flex-end;
  }
  #nav .microsoft-search .drop-down-menu > li ul{
    display: none;
  }
  #nav .microsoft-search .drop-down-menu > li:last-child{
    text-align: start;
    background-color: #f2f2f2;
    font-size: 15px;
    border-bottom: 1px solid #000;
  }
  #nav .microsoft-search .drop-down-menu > li:last-child a{
    padding: 0;
  }
  #nav .user-info .shop{
    padding: 15px 24px 16px 13px;
  }
  #nav .user-info .personal .user{
    margin-right: 16px;
    padding: 10px 0px 0px; 
  }
  #nav .microsoft-search .drop-down-menu #software:checked ~ ul,
  #nav .microsoft-search .drop-down-menu #computer:checked ~ ul,
  #nav .microsoft-search .drop-down-menu #entertainment:checked ~ ul,
  #nav .microsoft-search .drop-down-menu #business:checked ~ ul,
  #nav .microsoft-search .drop-down-menu #develop:checked ~ ul,
  #nav .microsoft-search .drop-down-menu #other:checked ~ ul{
    display: block;
    padding: 1px 0 0 30px;
  }
  #nav .microsoft-search .drop-down-menu li label{
    position: relative;
  }
  #nav .microsoft-search .drop-down-menu li label:focus::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px dashed #000;
  }
  #nav .microsoft-search .drop-down-menu li:last-child{
    padding: 0;
    margin: 0;
  }
  #nav .microsoft-search .drop-down-menu li:last-child a{
    padding: 15px 21px 15px 16px;
    width: 100%;
    margin: 1px 0;
    display: block;
  }
  #nav .microsoft-search .drop-down-menu li:last-child a i{
    display: none;
  }
  #nav .microsoft-search .drop-down-menu #software:checked ~ label h4 i,
  #nav .microsoft-search .drop-down-menu #computer:checked ~ label h4 i,
  #nav .microsoft-search .drop-down-menu #entertainment:checked ~ label h4 i,
  #nav .microsoft-search .drop-down-menu #business:checked ~ label h4 i,
  #nav .microsoft-search .drop-down-menu #develop:checked ~ label h4 i,
  #nav .microsoft-search .drop-down-menu #other:checked ~ label h4 i{
    transform: scaleY(-1);
  }
  #nav .microsoft-search .drop-down-menu #software ~ ul li a,
  #nav .microsoft-search .drop-down-menu #computer ~ ul li a,
  #nav .microsoft-search .drop-down-menu #entertainment ~ ul li a,
  #nav .microsoft-search .drop-down-menu #business ~ ul li a,
  #nav .microsoft-search .drop-down-menu #develop ~ ul li a,
  #nav .microsoft-search .drop-down-menu #other ~ ul li a{
    display: block;
    width: 100%;
    padding: 16px 15px 15px 14px;
    position: relative;
    font-size: 15px;
    margin: 1px 0;
  }
  #nav .microsoft-search .drop-down-menu #software ~ ul li:first-child a:before,
  #nav .microsoft-search .drop-down-menu #computer ~ ul li:first-child a:before,
  #nav .microsoft-search .drop-down-menu #entertainment ~ ul li:first-child a:before,
  #nav .microsoft-search .drop-down-menu #business ~ ul li:first-child a:before,
  #nav .microsoft-search .drop-down-menu #develop ~ ul li:first-child a:before,
  #nav .microsoft-search .drop-down-menu #other ~ ul li:first-child a:before{
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    right: 0;
    border-top: 1px solid #e6e6e6;
  }
  #nav .microsoft-search .drop-down-menu #software ~ ul li a::before, 
  #nav .microsoft-search .drop-down-menu #computer ~ ul li a::before,
  #nav .microsoft-search .drop-down-menu #entertainment ~ ul li a::before,
  #nav .microsoft-search .drop-down-menu #business ~ ul li a::before,
  #nav .microsoft-search .drop-down-menu #develop ~ ul li a::before,
  #nav .microsoft-search .drop-down-menu #other ~ ul li a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #e6e6e6;
  }
  #nav .microsoft-search .drop-down-menu li a:hover span,
  #nav .microsoft-search .drop-down-menu li a:focus span{
    border-bottom: none;
  }
}


#banner .swiper{
  margin-bottom: 53px;
}
#banner .swiper .surface-banner,
#banner .swiper .microsoft-banner{
  position: relative;
}
#banner .swiper .surface-banner .title{
  position: absolute;
  width: 30%;
  top: 50%;
  left: 59.53%;
  transform: translateY(-51.5%);
}
#banner .swiper .microsoft-banner .title{
  position: absolute;
  width: 30%;
  top: 50%;
  left: 10.48%;
  transform: translateY(-51%);
}
#banner .swiper .surface-banner .title span{
  display: inline-block;
  padding: 2px 12px 2px 12px;
  margin-bottom: 2px;
  background-color: #feb72f;
  font-weight: 600;
}
#banner .swiper .surface-banner .title h1,
#banner .swiper .microsoft-banner .title h2{
  font-weight: 600;
  font-size: 37px;
}
#banner .swiper .surface-banner .title h1{
  margin-bottom: 15px;
}
#banner .swiper .microsoft-banner .title h2{
  margin-bottom: 15px;
}
#banner .swiper .surface-banner .title p,
#banner .swiper .microsoft-banner .title p{
  margin-bottom: 24px;
  word-break: keep-all;
  word-wrap: break-word;
}
#banner .swiper .microsoft-banner .title p{
  margin-bottom: 16px;
}
#banner .swiper .surface-banner .title a{
  display: inline-block;
  padding: 8px 14px;
  background-color: #046ab5;
  font-weight: 800;
  color: #f9fbfd;
  text-decoration: none;
  position: relative;
  border-radius: 2px;
}
#banner .swiper .microsoft-banner .title .one-use{
  display: inline-block;
  background-color: #046ab5;
  padding: 8px 14px 8px 13px;
  margin: 8px 28px 8px 1px;
  color: #f9fbfd;
  text-decoration: none;
  position: relative;
  border-radius: 2px;
  font-weight: 600;
}
#banner .swiper .microsoft-banner .title .six-use{
  display: inline-block;
  color: #046ab5;
  font-weight: 600;
  padding: 8px 21px 8px 0.5px;
  position: relative;
  text-decoration: none;
  position: relative;
}
#banner .swiper .surface-banner .title a:focus::before,
#banner .swiper .microsoft-banner .title .one-use:focus::before{
  content: '';
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  border: 3px dotted #f9fbfd;
}
#banner .swiper .microsoft-banner .title .six-use:focus::before{
  content: '';
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -3px;
  right: 12px;
  border: 3px dotted #046ab5;
}
#banner .swiper .surface-banner .title a:hover,
#banner .swiper .microsoft-banner .title .one-use:hover{
  background-color: #045fa3;
}

#banner .swiper .microsoft-banner .title .six-use i{
  margin-left: 5px;
  transition: transform .3s;
}
#banner .swiper .microsoft-banner .title .six-use:hover i{
  transform: translateX(5px);
}
#banner .swiper .microsoft-banner .title .six-use:hover::after{
  content: '';
  position: absolute;
  height: 1px;
  left: 0;
  right: 38px;
  bottom: 12px;
  background-color: #045fa3;
}
#banner .swiper .swipe-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  margin-top: 9px;
}
#banner .swiper .swipe-btn button{
  border: 0;
  background-color: transparent;
  font-size: 28px;
  padding: 0 8px;
  cursor: pointer;
  position: relative;
  color: #000;
}
#banner .swiper .swipe-btn button:focus:before{
  content: '';
  position: absolute;
  top: -7px;
  bottom: -7px;
  left: -8px;
  right: -8px;
  border: 3px dotted #000;
}
#banner .swiper .swipe-btn button .fa-chevron-left,
#banner .swiper .swipe-btn button .fa-chevron-right{
  transition: transform .3s;
}
#banner .swiper .swipe-btn button:hover .fa-chevron-left{
  transform: translateX(-8px);
}
#banner .swiper .swipe-btn button:hover .fa-chevron-right{
  transform: translateX(8px);
}
#banner .swiper .swipe-btn .dot{
  width: 90px;
  position: static;
}
#banner .swiper-pagination-bullet{
  background-color: #000;
  margin: 0 9px 3px;
  width: 10.5px;
  height: 10.5px;
}
@media (max-width: 1399px){
  #banner .swiper .surface-banner .title h1,
  #banner .swiper .microsoft-banner .title h2{
    font-size: 29px;
  }
}
@media (max-width: 1083px){
  #banner .swiper{
    margin-bottom: 53px;
  }
  #banner .swiper .surface-banner,
  #banner .swiper .microsoft-banner{
    position: static;
  }
  #banner .swiper .surface-banner .banner-title,
  #banner .swiper .microsoft-banner .banner-title{
    padding: 0 12px;
  }
  #banner .swiper .surface-banner .title span{
    margin-bottom: 4px;
  }
  #banner .swiper .surface-banner .title,
  #banner .swiper .microsoft-banner .title{
    position: static;
    width: 100%;
    padding: 48px;
    background-color: #fff;
    box-shadow: .5px 2px 3px #ccc,
                -0.5px 0 3px #ccc;
    transform: translateY(0px);
    margin: -54px 0 15px;
  }
  #banner .swiper .microsoft-banner .title{
    padding: 44px 48px 40px;
  }
  #banner .swiper .surface-banner .title h1,
  #banner .swiper .microsoft-banner .title h2{
    font-size: 24px;
    margin-bottom: 8px;
  }
  #banner .swiper .microsoft-banner .title .one-use{
    padding: 8px 14px 8px 14px;
    margin: 8px 28px 8px 0px;
  }
  #banner .swiper .swipe-btn{
    margin-top: 0px;
  }
}
@media (max-width: 859px){
  #banner .swiper{
    margin-bottom: 5px;
  }
  #banner .swiper .surface-banner .banner-title,
  #banner .swiper .microsoft-banner .banner-title{
    padding: 0;
  }
  #banner .swiper .surface-banner .title,
  #banner .swiper .microsoft-banner .title{
    position:static;
    padding: 24px 24px 16px 24px;
    margin-top: -6px;
  }
  #banner .swiper .microsoft-banner .title{
    padding: 20px 24px 44px 24px;
  }
  #banner .swiper .surface-banner .title h1,
  #banner .swiper .microsoft-banner .title h2{
    margin-bottom: 9px;
  }
}
@media (max-width: 723px){
  #banner .swiper .microsoft-banner .title{
    padding: 24px 24px 16px 24px;
  }
}
@media (max-width: 385px){
  #banner .swiper .microsoft-banner .title .six-use{
    padding: 8px 10px 8px 0px;
  }
}
@media (max-width: 375px){
  #banner .swiper .microsoft-banner .title{
    padding: 20px 24px 20px 24px;
  }
  #banner .swiper .microsoft-banner .title .one-use{
    margin: 8px 28.5px 8px 0px;
  }
}


#choose-thing{
  width: 100%;
  padding: 0 7.9615%;
}
#choose-thing .choose{
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}
#choose-thing .choose li img{
  width: 40px;
}
#choose-thing .choose li{
  margin: 16px 24px;
  text-align: center;
}
#choose-thing .choose li div{
  margin-bottom: 2px;
}
#choose-thing .choose li a{
  color: #0067c7;
  font-weight: 600;
  position: relative;
}
#choose-thing .choose li a:focus::before{
  content: '';
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -4px;
  right: -4px;
  border: 3px dotted #0067c7;
}
@media (max-width: 1800px){
  #choose-thing{
    padding: 0 5%;
  }
  #choose-thing .choose{
    margin-bottom: 64px;
  }
}
@media (max-width: 1083px){
  #choose-thing{
    padding: 0 12px;
  }
  #choose-thing .choose{
    margin-bottom: 64px;
  }
}
@media (max-width: 859px){
  #choose-thing .choose{
    margin-bottom: 16px;
    flex-wrap: wrap;
  }
}
@media (max-width: 384px){
  #choose-thing .choose{
    flex-direction: column;
    margin-bottom: 20px;
  }
}
@media (max-width: 375px){
  #choose-thing .choose{
    flex-direction: column;
    margin-bottom: 16px;
  }
}

.card-wrap{
  width: 100%;
  padding: 0 7.9615%;
}
.card-wrap .main-card{
  display: flex;
  justify-content: space-between;
  margin-bottom: 88px;
}
.card-wrap .main-card .card{
  width: calc((100% - 72px) / 4);
  cursor: pointer;
}
.card-wrap .main-card .card .card-header {
  padding-top: 10px;
}
.card-wrap .main-card .card .card-header span{
  display: inline-block;
  padding: 2px 12px;
  background-color: #feb72f;
  font-weight: 600;
  margin-bottom: 0px;
}
.card-wrap .main-card .card .card-header .null{
  display: inline-block;
  font-size: 0;
  padding: 11px 0;
}
.card-wrap .main-card .card .card-body h3{
  font-weight: 600;
  font-size: 29px;
  margin-bottom: 12px;
}
.card-wrap .main-card .card .card-body p{
  margin: 5px 0 8px;
  word-break: keep-all;
  word-wrap: break-word;
}
.card-wrap .main-card .card .card-footer a{
  display: inline-block;
  padding: 16px 0;
  color: #0067b8;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}
.card-wrap .main-card .card .card-footer a:focus::before{
  content: '';
  position: absolute;
  top: 13px;
  bottom: 13px;
  left: -3px;
  right: -7px;
  border: 3px dotted #0067b8;
}
.card-wrap .main-card .card .card-footer a:hover::after{
  content: '';
  position: absolute;
  height: 1px;
  bottom: 20px;
  left: 0;
  right: 17px;
  background-color: #0067b8;
}
.card-wrap .main-card .card .card-footer a i{
  padding-left: 5px;
  transition: transform .3s;
}
.card-wrap .main-card .card .card-footer a:hover i{
  transform: translateX(3px);
}
@media (max-width: 1800px){
  .card-wrap{
    padding: 0 5%;
  }
}
@media (max-width: 1399px){
  .card-wrap .main-card .card .card-body h3{
    font-size: 24px;
  }
}
@media (max-width: 1083px){
  .card-wrap{
    padding: 0 12px;
  }
  .card-wrap .main-card{
    flex-wrap: wrap;
    margin-bottom: 48px;
  }
  .card-wrap .main-card .card{
    width: calc((100% - 24px) / 2);
    padding-bottom: 10px;
  }
  .card-wrap .main-card .card .card-body h3{
    font-size: 21px;
    margin-bottom: 4px;
    margin-top: 1px;
  }
  .card-wrap .main-card .card .card-body p{
    margin: 5px 0 8px;
  }
}
@media (max-width: 859px){
  .card-wrap .main-card{
    margin-bottom: 0px;
  }
  .card-wrap .main-card .card .card-body p{
    margin: 4px 0 8px;
  }
  .card-wrap .main-card .card:nth-child(3) .card-body h3,
  .card-wrap .main-card .card:nth-child(4) .card-body h3{
    margin-bottom: 5px;
    margin-top: 1px;
  }
}
@media (max-width: 539px){
  .card-wrap .main-card .card{
    width: 100%;
    padding-bottom: 10px;
  }
}
@media (max-width: 375px){
  .card-wrap .main-card .card .card-body h3{
    margin-bottom: 5px;
  }
  .card-wrap .main-card .card:nth-child(1) .card-body h3{
    margin-bottom: 4px;
  }
  .card-wrap .main-card .card .card-body p{
    margin: 3px 0 8px;
  }
}

#one-drive-banner{
  width: 100%;
  padding: 0 7.9615%;
  display: flex;
  justify-content: center;
}
#one-drive-banner .one-drive{
  position: relative;
  margin-bottom: 84px;
}
#one-drive-banner .one-drive .one-drive-img{
  width: 1596px;
}
#one-drive-banner .one-drive .one-drive-title{
  position: absolute;
  top: 50%;
  transform: translateY(-53.5%);
  left: 5.9%;
  width: 25%;
}
#one-drive-banner .one-drive .one-drive-title h2{
  font-size: 37px;
  font-weight: 600;
  margin-bottom: 14px;
}
#one-drive-banner .one-drive .one-drive-title p{
  margin-bottom: 24px;
  word-break: keep-all;
  word-wrap: break-word;
}
#one-drive-banner .one-drive .one-drive-title a{
  display: inline-block;
  padding: 8px 14px;
  background-color: #0067b8;
  font-weight: 800;
  color: #fff;
  text-decoration: none;
  position: relative;
}
#one-drive-banner .one-drive .one-drive-title a:focus::before{
  content: '';
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  border: 3px dotted #fff;
}
#one-drive-banner .one-drive .one-drive-title a:hover{
  background-color: #045fa3;
}
@media (max-width: 1900px){
  #one-drive-banner{
    display: block;
  }
  #one-drive-banner .one-drive .one-drive-img{
    width: 100%;
  }
}
@media (max-width: 1800px){
  #one-drive-banner{
    padding: 0 5%;
  }
}
@media (max-width: 1399px){
  #one-drive-banner .one-drive .one-drive-title h2{
    font-size: 29px;
  }
}
@media (max-width: 1083px){
  #one-drive-banner{
    padding: 0;
  }
  #one-drive-banner .one-drive{
    position: static;
    margin-bottom: 0;
  }
  #one-drive-banner .one-drive .banner-one-drive-title{
    padding: 0 12px;
  }
  #one-drive-banner .one-drive .one-drive-title{
    position: static;
    width: 100%;
    padding: 44px 48px 48px;
    background-color: #fff;
    box-shadow: .5px 2px 3px #ccc,
                -0.5px 0 3px #ccc;
    transform: translateY(0);
    margin: -54px 0 92px 0;
  }
  #one-drive-banner .one-drive .one-drive-title h2{
    font-size: 24px;
    margin-bottom: 9px;
  }
}
@media (max-width: 859px){
  #one-drive-banner .one-drive{
    margin-bottom: 44px;
  }
  #one-drive-banner .one-drive .one-drive-title{
    box-shadow: none;
    padding: 44px 0 48px;
    margin: -6px 0 0px 0;
  }
}
@media (max-width: 767px){
  #one-drive-banner .one-drive .one-drive-title h2{
    margin-bottom: 8px;
  }
}
@media (max-width: 375px){
  #one-drive-banner .one-drive .one-drive-title{
    padding: 43px 0 48px;
    margin: -5.1px 0 0px 0;
  }
  #one-drive-banner .one-drive .one-drive-title h2{
    margin-bottom: 9px;
  }
}


.card-wrap .business .main-card{
  margin-bottom: 40px;
}
.card-wrap .business h2{
  font-size: 37px;
  margin-bottom: 14px;
}
@media (max-width: 1399px){
  .card-wrap .business h2{
    font-size: 29px;
  }
}
@media (max-width: 1083px){
  .card-wrap .business .main-card{
    margin: 0 0 0px;
  }
  .card-wrap .business h2{
    font-size: 24px;
    margin-bottom: 8px;
  }
  .card-wrap .main-card .card{
    margin-bottom: 30px;
  }
}
@media (max-width: 859px){
  .card-wrap .business h2{
    margin-bottom: 9px;
  }
}
@media (max-width: 767px){
  .card-wrap .business h2{
    margin-bottom: 9.5px;
  }
  .card-wrap .business .main-card .card:nth-child(1) .card-body h3,
  .card-wrap .business .main-card .card:nth-child(2) .card-body h3{
    margin-bottom: 5px;
  }
  .card-wrap .business .main-card .card:nth-child(3) .card-body h3,
  .card-wrap .business .main-card .card:nth-child(4) .card-body h3{
    margin-bottom: 4px;
  }
}
@media (max-width: 375px){
  .card-wrap .business h2{
    margin-bottom: 9px;
  }
  .card-wrap .business .main-card .card:nth-child(1) .card-body h3,
  .card-wrap .business .main-card .card:nth-child(3) .card-body h3,
  .card-wrap .business .main-card .card:nth-child(4) .card-body h3{
    margin-bottom: 4px;
  }
  
}
.card-wrap .focus-on{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.card-wrap .focus-on div{
  margin-right: 16px;
}
.card-wrap .focus-on a{
  width: 32px;
  height: 32px;
  position: relative;
}
.card-wrap .focus-on a:focus::before{
  content: '';
  position: absolute;
  top: -3px;
  bottom: 3px;
  left: -2px;
  right: -2px;
  border: 3px dotted #0067b8;
}
.card-wrap .focus-on a img{
  width: 100%;
}
.card-wrap .focus-on a + a{
  margin-left: 17px;
}

#to-top{
  position: sticky;
  bottom: 12px;
  right: 0;
}
#to-top .top{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 12px 60px;
}
#to-top .top a{
  display: inline-block;
  padding: 8px 15px 9px 14px;
  background-color: #d9d9d9;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  position: relative;
  border-radius: 2px;
}
#to-top .top a i{
  padding-right: 8px;
}
#to-top .top a:focus::before{
  content: '';
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  border: 3px dotted #000;
}
#to-top .top a:hover{
  background-color: #fff;
  box-shadow: 1px 1px 3px #ccc;
}
@media (max-width: 1083px){
  #to-top .top{
    padding: 0 12px;
    margin: 0 0 60px;
  }
  .card-wrap .focus-on a + a{
    margin-left: 16px;
  }
}
@media (max-width: 539px){
  #to-top{
    position: static;
  }
  #to-top .top{
    margin: 0 0 60px;
  }
  #to-top .top a{
    width: 100%;
    text-align: center;
  }
}


footer #footer{
  width: 100%;
  background-color: #f2f2f2;
}
#footer .footer-nav{
  display: flex;
  padding: 0 7.9615%;
}
#footer .footer-nav .footer-item{
  width: 17%;
}
#footer .footer-nav .footer-item:nth-child(3n+1){
  padding-right: 12px;
}
#footer .footer-nav .footer-item:nth-child(3n+2),
#footer .footer-nav .footer-item:nth-child(3n+3){
  padding: 0 12px;
}
#footer .footer-nav .footer-item h4{
  font-weight: 600;
  padding: 35px 0 2px;
  color: #616161;
  font-size: 15px;
}

#footer .footer-nav .footer-item .footer-list li{
  padding: 3px 0 5px;
}
#footer .footer-nav .footer-item .footer-list li a{
  display: inline-block;
  text-decoration: none;
  color: #616161;
  font-size: 12px;
}
#footer .footer-nav .footer-item .footer-list li a:hover,
#footer .footer-copyright .copyright li a:hover{
  color: #181818;
}
#footer .footer-nav .footer-item .footer-list li a,
#footer .footer-copyright .copyright li a{
  position: relative;
}
#footer .footer-nav .footer-item .footer-list li a:focus::before,
.footer-copyright .copyright li a:focus::before{
  content: '';
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -4px;
  right: -4px;
  border: 1px dashed #181818;
}
#footer .footer-nav .footer-item .footer-list li a:hover::after,
#footer .footer-nav .footer-item .footer-list li a:focus::after,
#footer .footer-copyright .copyright li a:hover::after,
#footer .footer-copyright .copyright li a:focus::after{
  content: '';
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 2px;
  background-color: #181818;
}
#footer .footer-copyright{
  display: flex;
  justify-content: space-between;
  padding: 32px 8% 16px;
}
#footer .footer-copyright .chinese a{
  display: flex;
  position: relative;
}
#footer .footer-copyright .chinese a:focus::before{
  content: '';
  position: absolute;
  top: -7px;
  bottom: -5px;
  left: -3px;
  right: -28px;
  border: 1px dashed #181818;
}
#footer .footer-copyright .chinese a i{
  padding-right: 10px;
  font-size: 20px;
}

#footer .footer-copyright .chinese a span{
  position: relative;
}
#footer .footer-copyright .chinese a:hover span::after{
  content: '';
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 4px;
  background-color: #181818;
}
#footer .footer-copyright .copyright{
  display: flex;
}
#footer .footer-copyright .copyright li{
  padding: 0 27px 6px 0px;
  font-size: 12px;
  color: #616161;
}
#footer .footer-copyright .copyright li:nth-child(1),
#footer .footer-copyright .copyright li:nth-child(2){
  padding: 0 26px 4px 1px;
}
#footer .footer-copyright .copyright li:nth-child(3){
  padding: 0 28px 4px 1px;
}
#footer .footer-copyright .copyright li:last-child{
  padding: 0 23.5px 6px 0px;
}
#footer .footer-copyright .chinese a,
#footer .footer-copyright .copyright li a{
  text-decoration: none;
  font-size: 12px;
  color: #616161;
}
@media (max-width: 1800px){
  #footer .footer-nav{
    padding: 0 5%;
  }
  #footer .footer-copyright{
    padding: 30px 5% 16px;
  }
}
@media (max-width: 1083px){
  #footer .footer-nav{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 12px 2px;
  }
  #footer .footer-nav .footer-item{
    width: 33.33%;
  }
  #footer .footer-nav .footer-item:nth-child(3n+1){
    padding: 0 12px;
  }
  #footer .footer-nav .footer-item h4{
    padding: 35.5px 0 2px;
  }
  #footer .footer-nav .footer-item .footer-list li{
    padding: 3px 0 5px;
  }
  #footer .footer-copyright{
    display: flex;
    padding: 30px 24px 18px;
  }
  #footer .footer-copyright .copyright li:nth-child(1),
  #footer .footer-copyright .copyright li:nth-child(2),
  #footer .footer-copyright .copyright li:nth-child(3){
    padding: 0 26.3px 4px 1px;
  }
  #footer .footer-copyright .copyright li:nth-child(4),
  #footer .footer-copyright .copyright li:nth-child(5){
    padding: 0 26px 4px 1px;
  }
  #footer .footer-copyright .copyright li:last-child{
    padding: 0 24px 4px 1.6px;
  }
}
@media (max-width: 859px){
  #footer .footer-nav .footer-item h4{
    padding: 34.5px 0 3px;
  }
  #footer .footer-copyright .copyright li:nth-child(5){
    padding: 0 25.5px 4px 1.5px;
  }
}
@media (max-width: 767px){
  #footer .footer-nav .footer-item h4{
    padding: 35px 0 2.5px;
  }
  #footer .footer-copyright{
    flex-wrap: wrap;
  }
  #footer .footer-copyright .copyright{
    width: 100%;
    padding-top: 13px;
    flex-wrap: wrap;
  }

  #footer .footer-copyright .copyright li:nth-child(3){
    padding: 6px 7px 0 6.5px;
  }
  #footer .footer-copyright .copyright li:nth-child(4),
  #footer .footer-copyright .copyright li:nth-child(5){
    padding: 6px 7.5px 0 6px;
  }
  #footer .footer-copyright .copyright li:nth-child(1),
  #footer .footer-copyright .copyright li:nth-child(2),
  #footer .footer-copyright .copyright li:last-child{
    padding: 6px 7px 0 6px;
  }
}
@media (max-width: 539px){
  #footer .footer-nav .footer-item{
    width: 100%;
  }
  #footer .footer-copyright .copyright li:nth-child(1),
  #footer .footer-copyright .copyright li:nth-child(2),
  #footer .footer-copyright .copyright li:nth-child(3),
  #footer .footer-copyright .copyright li:nth-child(4),
  #footer .footer-copyright .copyright li:nth-child(5){
    padding: 6px 13px 0 0;
  }
  #footer .footer-copyright .copyright li:last-child{
    padding: 6px 13px 0 0;
  }
}
@media (max-width: 375px){
  #footer .footer-nav{
    padding: 0 12px;
  }
  #footer .footer-nav .footer-item h4{
    padding: 35px 0 2.5px;
  }
  #footer .footer-copyright{
    padding: 33px 24px 18px;
  }
  #footer .footer-copyright .copyright{
    padding-top: 12px;
  }
  #footer .footer-copyright .copyright li:nth-child(1),
  #footer .footer-copyright .copyright li:nth-child(2),
  #footer .footer-copyright .copyright li:nth-child(3),
  #footer .footer-copyright .copyright li:nth-child(4){
    padding: 6px 13.3px 0 0px;
  }
  #footer .footer-copyright .copyright li:nth-child(5){
    padding: 4px 13.3px 0 0;
  }
  #footer .footer-copyright .copyright li:last-child{
    padding: 4px 13px 0 0;
  }
}